/*body {
  padding-top: 50px;
}

.js-prev-page, .js-next-page {
	display: inline-block;
}

.hidden {
	display: none;
}
*/
* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}


main {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 60px;
	padding-top: 90px;
}

p {
	max-width: 1000px;
}

button:hover, .link:hover, .trailer:hover {
	cursor: pointer;
	
}


button {
	margin-top: 10px;
	font-weight: bold;
}

.link:hover {
	text-decoration: underline;
}

.trailer {
  border: 1px solid #E5E5E5;
  margin-bottom: 0px;
}

.link{
	/*padding: 20px;*/
	text-align: center;
	margin-bottom: 10px;
	text-decoration: none;
}

a:link {
	text-decoration: none;
	color: black;
}

.container {
	/*padding: 0 60px;
	padding-top: 90px;*/
}

.js-error {
	color: red;
}

.movie-image {
	width: 100%;
}

/*.trailer1-link .trailer2-link .trailer3-link {

	display: inline-block; 
	margin: 0px auto;
	text-align: center;
	padding: 10px;
}*/


.row, button {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;

  /* Gutters:
   * Each column is padded by half-a-gutter on each side,
   *
   * Half a gutter is 10px, 10/960 (context) = 1.041666%
   *
   */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}


/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: 25%;
  }

  /* 4 columns, 4/12 in % */
  .col-4 {
    width: 33.333333%;
  }

  /* 6 columns, 6/12 in % */
  .col-6 {
    width: 50%;
  }

  /* 12 columns, 12/12 in % */
  .col-12 {
    width: 100%;
  }
}
